body {
  padding-top: 4.5rem;
}

.alert-pre {
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}

.btn {
    margin: 0 8px;
    border-radius: 3px;
}

.btn-danger.active {
    background-color: #73111b !important;
}

.btn-primary.active {
    background-color: #02356d !important;
}

button:active {
    outline: 1px dotted !important;
    outline: 5px auto -webkit-focus-ring-color !important;
}

#submit {
    float: right;
}

.btn-default { /* Styling for buttons */
    color: #EEF1F5;
    background-color: #5458AF;
}

    .btn-default:hover {
        color: #EEF1F5;
        background-color: #4D50A1;
    }

    .btn-default:active {
        color: #EEF1F5;
        background-color: #444B93;
    }

    .btn-default:visited {
        color: #EEF1F5;
        background-color: #444B93;
    }

    .btn-default:focus {
        color: #EEF1F5;
        background-color: #5458AF;
    }

#btnLogin {
    float: right;
}

#btnLogin:hover {
        cursor: pointer;
    }

#inlineFormDays {
    width: 80px;
    margin-left: 5px;
}